# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\agust\Documents\UNLAM\Segundo Cuatrimestre 2020\PB2\Pb2eva0320202CFeoMaieruAgustin42819121\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
